.cache
.DS_Store
.idea
.pio
.vscode
platformio_override.ini

/build_output/
/node_modules/
/wled/

# usermod_ui compile-time bundle (regenerated at build)
/usermods/usermod_ui/generated_ui_bundle.h
/usermods/usermod_ui/.bundle_inputs_hash
